
<script>

  	this.window.scrollTo(0,0);
  	
 </script>

<form name="editForm"  role="form" novalidate show-validation>


    <h4>Joindre une piece justificative</h4>
    <button ngf-select="vm.uploadFiles($files, $invalidFiles)" multiple enctype="multipart/form-data"
            ngf-drop-available="true">
        Select Files
    </button>
    <br><br>
    Fichiers:
    <ul>
        <li ng-repeat="f in files">{{f.name}} {{f.$errorParam}}
            <span ng-show="f.progress >= 0">
        <div style="width:{{f.progress}}%"
             ng-bind="f.progress + '%'"></div>
      </span>
        </li>
        <li ng-repeat="f in errFiles">{{f.name}} {{f.$error}} {{f.$errorParam}}
        </li>
    </ul>
    {{errorMsg}}


    <jhi-alert-error></jhi-alert-error>


    <table class="table">

        <tbody>
        <tr>
            <td class="childblockHeader">
                INFORMATIONS ENFANT
            </td>

            <td class="motherblockHeader">
                INFORMATIONS MERE
            </td>

            <td class="fatherblockHeader">
                INFORMATIONS PERE
            </td>


        </tr>

        <tr>

            <!--enfant-->
            <td class="childBlockBorder">

                <!--nom-->
                <div class="form-group">
                    <label class="control-label" translate="etatcivilApp.declarationNaissance.name"
                           for="childName">Nom</label>
                    <input type="text" class="form-control inputDeclaration" name="childName" id="childName"
                           ng-model="vm.declarationNaissance.informationEnfant.nom" required
                    />
                    <div ng-show="editForm.childName.$invalid">
                        <p class="help-block"
                           ng-show="editForm.childName.$error.required"
                           translate="entity.validation.required">
                            This field is required.
                        </p>
                    </div>


                </div>

                <!--prenom-->
                <div class="form-group">
                    <label class="control-label" translate="etatcivilApp.declarationNaissance.firstname"
                           for="childFirstName">Nom</label>
                    <input type="text" class="form-control inputDeclaration" name="childFirstName" id="childFirstName"
                           ng-model="vm.declarationNaissance.informationEnfant.prenom" required
                    />
                    <div ng-show="editForm.childFirstName.$invalid">
                        <p class="help-block"
                           ng-show="editForm.childFirstName.$error.required"
                           translate="entity.validation.required">
                            This field is required.
                        </p>
                    </div>
                </div>

                <!--date naissance-->

                <div class="form-group">
                    <label class="control-label" translate="etatcivilApp.declarationNaissance.dateNaissance"
                           for="dateNaissanceEnfant">Date Declaration</label>
                    <div class="input-group">
                        <input id="dateNaissanceEnfant" type="date" class="form-control inputDeclaration"
                               name="dateNaissanceEnfant"
                               uib-datepicker-popup="{{dateformat}}"
                               ng-model="vm.declarationNaissance.informationEnfant.dateNaissance"
                               is-open="vm.datePickerOpenStatus.dateNaissanceEnfant"
                               required/>
                        <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('dateNaissanceEnfant')"><i
                            class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                    </div>
                    <div ng-show="editForm.dateNaissanceEnfant.$invalid">
                        <p class="help-block"
                           ng-show="editForm.dateNaissanceEnfant.$error.required"
                           translate="entity.validation.required">
                            This field is required.
                        </p>
                    </div>
                </div>

                <!--commune de naissance-->
                <div class="form-group">
                    <label class="control-label" translate="etatcivilApp.declarationNaissance.ville"
                           for="villeNaissanceEnfant">commune de naissance</label>
                    <input type="text" class="form-control inputDeclaration" name="villeNaissanceEnfant" id="villeNaissanceEnfant"
                           ng-model="vm.declarationNaissance.informationEnfant.adresse.ville" required
                    />
                    <div ng-show="editForm.villeNaissanceEnfant.$invalid">
                        <p class="help-block"
                           ng-show="editForm.villeNaissanceEnfant.$error.required"
                           translate="entity.validation.required">
                            This field is required.
                        </p>
                    </div>
                </div>

                <!--code postal-->
                <div class="form-group">
                    <label class="control-label" translate="etatcivilApp.declarationNaissance.codepostale"
                           for="codePostale">code postal</label>
                    <input type="text" class="form-control inputDeclaration" name="codePostale"
                           id="codePostale"
                           ng-model="vm.declarationNaissance.informationEnfant.adresse.codePostale" required
                    />
                    <div ng-show="editForm.codePostale.$invalid">
                        <p class="help-block"
                           ng-show="editForm.codePostale.$error.required"
                           translate="entity.validation.required">
                            This field is required.
                        </p>
                    </div>
                </div>

                <!--adresse complementaire-->
                <div class="form-group">
                    <label class="control-label" translate="etatcivilApp.declarationNaissance.adressComplement"
                           for="adresseCompl">adresse complementaire</label>
                    <input type="text" class="form-control inputDeclaration" name="adresseCompl"
                           id="adresseCompl"
                           ng-model="vm.declarationNaissance.informationEnfant.adresse.adresseComplementaire"
                    />
                </div>

                <!--mention marginale-->
                <div class="form-group">
                    <label class="control-label" translate="etatcivilApp.declarationNaissance.mentionMarginale"
                           for="mentionMarginale">Mention Marginale</label>
                    <input type="text" class="form-control inputDeclaration" name="mentionMarginale"
                           id="mentionMarginale"
                           ng-model="vm.declarationNaissance.mentionMarginale" required
                    />

                    <div ng-show="editForm.mentionMarginale.$invalid">
                        <p class="help-block"
                           ng-show="editForm.mentionMarginale.$error.required"
                           translate="entity.validation.required">
                            This field is required.
                        </p>
                    </div>
                </div>


                <!--date declaration-->
                <div class="form-group">
                    <label class="control-label" translate="etatcivilApp.declarationNaissance.dateDeclaration"
                           for="dateDeclaration">Date Declaration</label>
                    <div class="input-group">
                        <input id="dateDeclaration" type="date" class="form-control inputDeclaration"
                               name="dateDeclaration"
                               uib-datepicker-popup="{{dateformat}}" ng-model="vm.declarationNaissance.dateDeclaration"
                               is-open="vm.datePickerOpenStatus.dateDeclaration"
                               required/>
                        <span class="input-group-btn">
                     <button type="button" class="btn btn-default" ng-click="vm.openCalendar('dateDeclaration')"><i
                         class="glyphicon glyphicon-calendar"></i></button>
                 </span>
                    </div>
                    <div ng-show="editForm.dateDeclaration.$invalid">
                        <p class="help-block"
                           ng-show="editForm.dateDeclaration.$error.required"
                           translate="entity.validation.required">
                            This field is required.
                        </p>
                    </div>
                </div>

            </td>

            <!--mere-->
            <td class="motherBlockBorder">

                <!--nom-->
                <div class="form-group">
                    <label class="control-label" translate="etatcivilApp.declarationNaissance.name"
                           for="nomMere">Nom</label>
                    <input type="text" class="form-control inputDeclaration" name="nomMere" id="nomMere"
                           ng-model="vm.declarationNaissance.informationMere.nom" required
                    />
                    <div ng-show="editForm.nomMere.$invalid">
                        <p class="help-block"
                           ng-show="editForm.nomMere.$error.required"
                           translate="entity.validation.required">
                            This field is required.
                        </p>
                    </div>


                </div>

                <!--prenom-->
                <div class="form-group">
                    <label class="control-label" translate="etatcivilApp.declarationNaissance.firstname"
                           for="prenomMere">Nom</label>
                    <input type="text" class="form-control inputDeclaration" name="prenomMere"
                           id="prenomMere"
                           ng-model="vm.declarationNaissance.informationMere.prenom" required
                    />
                    <div ng-show="editForm.prenomMere.$invalid">
                        <p class="help-block"
                           ng-show="editForm.prenomMere.$error.required"
                           translate="entity.validation.required">
                            This field is required.
                        </p>
                    </div>
                </div>

                <!--date naissance-->
                <div class="form-group">
                    <label class="control-label" translate="etatcivilApp.declarationNaissance.dateNaissance"
                           for="dateNaissanceMere">Date Declaration</label>
                    <div class="input-group">
                        <input id="dateNaissanceMere" type="date" class="form-control inputDeclaration"
                               name="dateNaissanceMere"
                               uib-datepicker-popup="{{dateformat}}"
                               ng-model="vm.declarationNaissance.informationMere.dateNaissance"
                               is-open="vm.datePickerOpenStatus.dateNaissanceMere"
                               required/>
                        <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('dateNaissanceMere')"><i
                            class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                    </div>
                    <div ng-show="editForm.dateNaissanceMere.$invalid">
                        <p class="help-block"
                           ng-show="editForm.dateNaissanceMere.$error.required"
                           translate="entity.validation.required">
                            This field is required.
                        </p>
                    </div>
                </div>

                <!--ville-->
                <div class="form-group">
                    <label class="control-label" translate="etatcivilApp.declarationNaissance.communeDeResidence"
                           for="communeResidenceMere">Ville</label>
                    <input type="text" class="form-control inputDeclaration" name="communeResidenceMere" id="communeResidenceMere"
                           ng-model="vm.declarationNaissance.informationMere.adresse.ville" required
                    />
                    <div ng-show="editForm.communeResidenceMere.$invalid">
                        <p class="help-block"
                           ng-show="editForm.communeResidenceMere.$error.required"
                           translate="entity.validation.required">
                            This field is required.
                        </p>
                    </div>
                </div>

                <!--code postal-->
                <div class="form-group">
                    <label class="control-label" translate="etatcivilApp.declarationNaissance.codepostale"
                           for="codePostalMere">code postal</label>
                    <input type="text" class="form-control inputDeclaration" name="codePostalMere"
                           id="codePostalMere"
                           ng-model="vm.declarationNaissance.informationMere.adresse.codePostale" required
                    />
                    <div ng-show="editForm.codePostalMere.$invalid">
                        <p class="help-block"
                           ng-show="editForm.codePostalMere.$error.required"
                           translate="entity.validation.required">
                            This field is required.
                        </p>
                    </div>
                </div>

                <!--adresse complementaire-->
                <div class="form-group">
                    <label class="control-label" translate="etatcivilApp.declarationNaissance.adressComplement"
                           for="adresseComplMere">code postal</label>
                    <input type="text" class="form-control inputDeclaration" name="adresseComplMere"
                           id="adresseComplMere"
                           ng-model="vm.declarationNaissance.informationMere.adresse.adresseComplementaire"
                    />
                </div>

            </td>

            <!--pere-->
            <td class="fatherBlockBorder">

                <!--nom-->
                <div class="form-group">
                    <label class="control-label" translate="etatcivilApp.declarationNaissance.name"
                           for="nomPere">Nom</label>
                    <input type="text" class="form-control inputDeclaration" name="nomPere" id="nomPere"
                           ng-model="vm.declarationNaissance.informationPere.nom" required
                    />
                    <div ng-show="editForm.nomPere.$invalid">
                        <p class="help-block"
                           ng-show="editForm.nomPere.$error.required"
                           translate="entity.validation.required">
                            This field is required.
                        </p>
                    </div>


                </div>

                <!--prenom-->
                <div class="form-group">
                    <label class="control-label" translate="etatcivilApp.declarationNaissance.firstname"
                           for="prenomPere">Nom</label>
                    <input type="text" class="form-control inputDeclaration" name="prenomPere"
                           id="prenomPere"
                           ng-model="vm.declarationNaissance.informationPere.prenom" required
                    />
                    <div ng-show="editForm.prenomPere.$invalid">
                        <p class="help-block"
                           ng-show="editForm.prenomPere.$error.required"
                           translate="entity.validation.required">
                            This field is required.
                        </p>
                    </div>
                </div>

                <!--date naissance-->
                <div class="form-group">
                    <label class="control-label" translate="etatcivilApp.declarationNaissance.dateNaissance"
                           for="dateNaissancePere">Date Declaration</label>
                    <div class="input-group">
                        <input id="dateNaissancePere" type="date" class="form-control inputDeclaration"
                               name="dateNaissancePere"
                               uib-datepicker-popup="{{dateformat}}"
                               ng-model="vm.declarationNaissance.informationPere.dateNaissance"
                               is-open="vm.datePickerOpenStatus.dateNaissancePere"
                               required/>
                        <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('dateNaissancePere')"><i
                            class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                    </div>
                    <div ng-show="editForm.dateNaissancePere.$invalid">
                        <p class="help-block"
                           ng-show="editForm.dateNaissancePere.$error.required"
                           translate="entity.validation.required">
                            This field is required.
                        </p>
                    </div>
                </div>

                <!--ville-->
                <div class="form-group">
                    <label class="control-label" translate="etatcivilApp.declarationNaissance.communeDeResidence"
                           for="communeResidencePere">Ville</label>
                    <input type="text" class="form-control inputDeclaration" name="communeResidencePere" id="communeResidencePere"
                           ng-model="vm.declarationNaissance.informationPere.adresse.ville" required
                    />
                    <div ng-show="editForm.communeResidencePere.$invalid">
                        <p class="help-block"
                           ng-show="editForm.communeResidencePere.$error.required"
                           translate="entity.validation.required">
                            This field is required.
                        </p>
                    </div>
                </div>

                <!--code postal-->
                <div class="form-group">
                    <label class="control-label" translate="etatcivilApp.declarationNaissance.codepostale"
                           for="codePostalePere">code postal</label>
                    <input type="text" class="form-control inputDeclaration" name="codePostalePere"
                           id="codePostalePere"
                           ng-model="vm.declarationNaissance.informationPere.adresse.codePostale" required
                    />
                    <div ng-show="editForm.codePostalePere.$invalid">
                        <p class="help-block"
                           ng-show="editForm.codePostalePere.$error.required"
                           translate="entity.validation.required">
                            This field is required.
                        </p>
                    </div>
                </div>

                <!--adresse complementaire-->
                <div class="form-group">
                    <label class="control-label" translate="etatcivilApp.declarationNaissance.adressComplement"
                           for="adresseComplPere">code postal</label>
                    <input type="text" class="form-control inputDeclaration" name="adresseComplPere"
                           id="adresseComplPere"
                           ng-model="vm.declarationNaissance.informationPere.adresse.adresseComplementaire"
                    />
                </div>

            </td>

        </tr>
        </tbody>
    </table>


    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span
            translate="entity.action.cancel">Cancel</span>
        </button>

        <button type="button" ng-disabled="editForm.$invalid || vm.isSaving" ng-click="vm.save()" class="btn btn-primary">

            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>

</form>



