
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myAdresseLabel" translate="etatcivilApp.adresse.home.createOrEditLabel">Create or edit a Adresse</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.adresse.id">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.adresse.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="etatcivilApp.adresse.codePostale" for="field_codePostale">Code Postale</label>
            <input type="number" class="form-control" name="codePostale" id="field_codePostale"
                    ng-model="vm.adresse.codePostale"
                    required />
            <div ng-show="editForm.codePostale.$invalid">
                <p class="help-block"
                    ng-show="editForm.codePostale.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.codePostale.$error.number" translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="etatcivilApp.adresse.ville" for="field_ville">Ville</label>
            <input type="text" class="form-control" name="ville" id="field_ville"
                    ng-model="vm.adresse.ville"
                    required />
            <div ng-show="editForm.ville.$invalid">
                <p class="help-block"
                    ng-show="editForm.ville.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="etatcivilApp.adresse.adresseComplementaire" for="field_adresseComplementaire">Adresse Complementaire</label>
            <input type="text" class="form-control" name="adresseComplementaire" id="field_adresseComplementaire"
                    ng-model="vm.adresse.adresseComplementaire"
                     />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
